{% extends "base.html" %} {% load static %} {% load quiz_extras %} 
{% block content %}
<h3>create quiz</h3>
<form id="submit-create" action="/quiz/create-quiz/" method="POST">
  {% csrf_token %}
  <label>quiz name</label>
  <input type="text" placeholder="enter name" name="quizname" required />
  <label>pass percentage</label>
  <input
    type="number"
    placeholder="enter percent"
    name="percent"
    min="0"
    max="100"
    required
  />
  <input type="submit" id="submit-create-button" value="create" />
</form>

<ul>
  {% for quiz in quizes %}
  <li>
    {{quiz.name}}, students completed: {{quiz.completed}}, pass percentage:
    {{quiz.pass_percentage}}
    <form class="submit-delete" action="/quiz/delete-quiz/" method="POST">
      {% csrf_token %}
      <input type="number" name="quiz_pk" required hidden value="{{quiz.pk}}" />
      <input type="submit" class="submit-delete-button" value="delete" />
    </form>
  </li>
  {% endfor %}
</ul>

<script>
  (function () {
    // selectors
    var createForm = document.getElementById("submit-create");
    var deleteForms = document.querySelectorAll(".submit-delete");
    var createButton = document.getElementById("submit-create-button");

    // functions
    var disableElement = (element) => {
      element.setAttribute("disabled", "");
    };

    // eventlisteners to disable
    createForm.addEventListener("submit", (e) => {
      disableElement(createButton);
    });
    deleteForms.forEach((form) => {
      form.addEventListener("submit", (e) => {
        disableElement(e.target.childNodes[5]);
      });
    });
  })();
</script>
{% endblock %}
